
<h1>Welcome to Yelpdemo!</h1>
<p>This is one of the sample applications, you can't do a lot with it. Here we are learning about <a href="http://www.facebook.com">BaseRails</a> by creating a yelp like website</p>
<p>Finally, let's begin</p>
